#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define MAIN 0
#define NUM  1
#define NAV  2
#define FN   3

&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <180>;
    quick_tap_ms = <180>;
};

/ {
  conditional_layers {
    compatible = "zmk,conditional-layers";
    tri_layer {
      if-layers = <NUM NAV>;
      then-layer = <FN>;
    };
  };

  combos {
    compatible = "zmk,combos";

    combo_1 {
      timeout-ms = <60>;
      // Q A
      key-positions = <0 10>;
      bindings = <&kp N1>;
      layers = <MAIN>;
    };
    combo_2 {
      timeout-ms = <60>;
      // W S
      key-positions = <1 11>;
      bindings = <&kp N2>;
      layers = <MAIN>;
    };
    combo_3 {
      timeout-ms = <60>;
      // E D
      key-positions = <2 12>;
      bindings = <&kp N3>;
      layers = <MAIN>;
    };
    combo_4 {
      timeout-ms = <60>;
      // R F
      key-positions = <3 13>;
      bindings = <&kp N4>;
      layers = <MAIN>;
    };
    combo_5 {
      timeout-ms = <60>;
      // T G
      key-positions = <4 14>;
      bindings = <&kp N5>;
      layers = <MAIN>;
    };
    combo_6 {
      timeout-ms = <60>;
      // Y H
      key-positions = <5 15>;
      bindings = <&kp N6>;
      layers = <MAIN>;
    };
    combo_7 {
      timeout-ms = <60>;
      // U J
      key-positions = <6 16>;
      bindings = <&kp N7>;
      layers = <MAIN>;
    };
    combo_8 {
      timeout-ms = <60>;
      // I K
      key-positions = <7 17>;
      bindings = <&kp N8>;
      layers = <MAIN>;
    };
    combo_9 {
      timeout-ms = <60>;
      // O L
      key-positions = <8 18>;
      bindings = <&kp N9>;
      layers = <MAIN>;
    };
    combo_0 {
      timeout-ms = <60>;
      // P ;
      key-positions = <9 19>;
      bindings = <&kp N0>;
      layers = <MAIN>;
    };
    combo_lprn {
      timeout-ms = <60>;
      // D F
      key-positions = <12 13>;
      // (
      bindings = <&kp LPAR>;
      layers = <MAIN>;
    };
    combo_rprn {
      timeout-ms = <60>;
      // J K
      key-positions = <16 17>;
      // )
      bindings = <&kp RPAR>;
      layers = <MAIN>;
    };
    combo_lcbr {
      timeout-ms = <60>;
      // A S
      key-positions = <10 11>;
      // {
      bindings = <&kp LBRC>;
      layers = <MAIN>;
    };
    combo_rcbr {
      timeout-ms = <60>;
      // L ;
      key-positions = <18 19>;
      // }
      bindings = <&kp RBRC>;
      layers = <MAIN>;
    };
    combo_lbrc {
      timeout-ms = <60>;
      // F G
      key-positions = <13 14>;
      // [
      bindings = <&kp LBKT>;
      layers = <MAIN>;
    };
    combo_rbrc {
      timeout-ms = <60>;
      // H J
      key-positions = <15 16>;
      // ]
      bindings = <&kp RBKT>;
      layers = <MAIN>;
    };
    combo_lt {
      timeout-ms = <60>;
      // S D
      key-positions = <11 12>;
      // <
      bindings = <&kp LT>;
      layers = <MAIN>;
    };
    combo_gt {
      timeout-ms = <60>;
      // K L
      key-positions = <17 18>;
      // >
      bindings = <&kp GT>;
      layers = <MAIN>;
    };
    combo_tab {
      timeout-ms = <60>;
      // E R
      key-positions = <2 3>;
      bindings = <&kp TAB>;
      layers = <MAIN>;
    };
    combo_nubs {
      timeout-ms = <60>;
      // A Z
      key-positions = <10 20>;
      bindings = <&kp NON_US_BSLH>;
      layers = <MAIN>;
    };
    combo_caps {
      timeout-ms = <60>;
      // Z X C V
      key-positions = <20 21 22 23>;
      bindings = <&kp CAPS>;
      layers = <MAIN>;
    };
    combo_ent {
      timeout-ms = <60>;
      // A F
      key-positions = <10 13>;
      bindings = <&kp ENTER>;
      layers = <MAIN>;
    };
    combo_mins {
      timeout-ms = <60>;
      // M ,
      key-positions = <26 27>;
      // -
      bindings = <&kp MINUS>;
      layers = <MAIN>;
    };
    combo_eql {
      timeout-ms = <60>;
      // , .
      key-positions = <27 28>;
      // k
      bindings = <&kp EQUAL>;
      layers = <MAIN>;
    };
    combo_quot {
      timeout-ms = <60>;
      // ; /
      key-positions = <19 29>;
      // '
      bindings = <&kp SQT>;
      layers = <MAIN>;
    };
    combo_nuhs {
      timeout-ms = <60>;
      // L .
      key-positions = <18 28>;
      // #
      bindings = <&kp NON_US_HASH>;
      layers = <MAIN>;
    };
    combo_esc {
      timeout-ms = <60>;
      // S F
      key-positions = <11 13>;
      bindings = <&kp ESC>;
      layers = <MAIN>;
    };
    combo_grv {
      timeout-ms = <60>;
      // S X
      key-positions = <11 21>;
      // `
      bindings = <&kp GRAVE>;
      layers = <MAIN>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    MAIN_layer {
      bindings = <
        &kp Q      &kp W      &kp E       &kp R       &kp T            &kp Y   &kp U       &kp I        &kp O      &kp P 
        &mt LGUI A &mt LALT S &mt LCTRL D &mt LSHFT F &kp G            &kp H   &mt LSHFT J &mt LCTRL K  &mt LALT L &mt LGUI SEMI
        &kp Z      &kp X      &kp C       &kp V       &kp B            &kp N   &kp M       &kp COMMA    &kp DOT    &kp FSLH
                                          &mo NUM     &kp BSPC         &kp SPC &mo NAV
        >;
    };


    NUM_layer {
      bindings = <
        &kp F1 &kp F2  &kp F3  &kp F4   &kp KP_NUM     &kp KP_PLUS  &kp KP_N7   &kp KP_N8   &kp KP_N9  &kp KP_ASTERISK 
        &kp F5 &kp F6  &kp F7  &kp F8   &none          &kp KP_DOT   &kp KP_N4   &kp KP_N5   &kp KP_N6  &kp KP_N0
        &kp F9 &kp F10 &kp F11 &kp F12  &none          &kp KP_MINUS &kp KP_N1   &kp KP_N2   &kp KP_N3  &kp KP_SLASH 
                               &trans  &trans          &kp KP_ENTER &trans
        >;
    };

    NAV_layer {
      bindings = <
        &none    &none    &none     &none     &none     &kp HOME &kp PG_DN    &kp PG_UP    &kp END   &kp PSCRN 
        &kp LGUI &kp LALT &kp LCTRL &kp LSHFT &none     &kp LEFT &kp DOWN     &kp UP       &kp RIGHT &kp INS
        &none    &none    &none     &none     &none     &none    &kp C_VOL_DN &kp C_VOL_UP &none     &none
                                    &trans    &kp DEL   &trans &trans
        >;
    };

    FN_layer {
      bindings = <
        &none &none &none &none  &none      &none &kp C_BRI_DN &kp C_BRI_UP &none        &none
        &none &none &none &none  &none      &none &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3
        &none &none &none &none  &none      &none &bt BT_CLR   &none        &none        &none
                          &trans &none      &none &trans
        >;
    };
  };
};
